<%- include("header"); -%>
</head>
<body class='bg-main'>
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1 text-white">Too Lazy To Type?</h1>
        <h3 class="mb-3 text-white-50">
          <em>Welcome to our Voice Chatroom</em>
        </h3>
        <a class="btn btn-warning btn-lg" href="/login">Join Us</a>
      </div>
    </header>
</body>
</html>