<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lazy To Text Chatroom</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="../css/styles.css">
  <style>
    html {
        background: url("https://cdn.dribbble.com/users/195330/screenshots/1545094/attachments/235536/21_404-error.png") no-repeat center center fixed;
        background-size: cover;
    }
  </style>
</head>
<body>
    <div id="page_404"></div>
</body>
</html>